absl-py==0.3.0
astor==0.7.1
backports.weakref==1.0.post1
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.9.5
django-activeurl==0.1.9
django-appconf==1.0.2
django-bootstrap3==7.0.1
django-classy-tags==0.7.2
django-password-reset==0.8.2
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
grpcio==1.13.0
gunicorn==19.4.1
lxml==3.6.0
Markdown==2.6.11
mock==2.0.0
numpy==1.15.0
pbr==4.2.0
protobuf==3.6.0
psycopg2==2.7.5
python-decouple==3.0
six==1.11.0
static3==0.6.1
termcolor==1.1.0
Werkzeug==0.14.1

